body{
    background-color: #f4f6fb;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 250px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ddd;
    position: fixed;
    padding: 20px;
}

.logo{
    margin-bottom: 30px;
}

.menu{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu:hover{
    background-color: #e7f1ff;
}

.active{
    background-color: #e7f1ff;
    font-weight: bold;
}

.main-content{
    margin-left: 270px;
    padding: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-tasks{
    background-color: white;
}

.badge-pending{
    background-color: #ffeeba;
    padding: 5px 10px;
    border-radius: 10px;
}

.badge-progress{
    background-color: #b8daff;
    padding: 5px 10px;
    border-radius: 10px;
}

.badge-completed{
    background-color: #c3e6cb;
    padding: 5px 10px;
    border-radius: 10px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 30px;
    flex-direction: row;
}